<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IErrorManagerService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceWedaUpdate" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://94.103.141.188:4530/ServiceWedaUpdate/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceWedaUpdate"
        contract="WedaUpdateWCF.IServiceWedaUpdate" name="NetTcpBinding_IServiceWedaUpdate">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://94.103.141.188:49717/ErrorManagerService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IErrorManagerService"
        contract="ErrorService.IErrorManagerService" name="BasicHttpBinding_IErrorManagerService" />
    </client>
  </system.serviceModel>
</configuration>