<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="santesocial" value="C:\Program Files (x86)\santesocial\fsv\1.40.9\srt\"/>
    <add key="santesocialbis" value=""/>
    <add key="cps1" value="1234|1|Essai|Fabrice|1"/>
    <add key="cps2" value="1234|2|Essai|Anael|2"/>
    <add key="cps3" value="1234|1|Essai|Steve|3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
