<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DeployPath" value=""/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IPyxvitalbinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="WSHttpBinding_IVZLoop" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None"/>
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Pyxvital.exe/soap/IPyxvital" binding="basicHttpBinding" bindingConfiguration="IPyxvitalbinding" contract="VZS.IPyxvital" name="IPyxvitalPort"/>
            <endpoint address="http://localhost:10001/VZLoopService/" binding="webHttpBinding" bindingConfiguration="WSHttpBinding_IVZLoop" contract="LoopTest.IVZLoop" name="WSHttpBinding_IVZLoop">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
